body{
    background-color: antiquewhite;
    font-family: 'Syne-Tactile', cursive;
}
.header_div{
    background-color: darkkhaki;
}
.copy-right-footer{
    text-align: center;
}
#aditya{
    text-shadow: blue;
}